div.photo {
  display: inline-block;
  padding: 0px;
  flex: 1;
  text-align: center;
}

div.text_right {
  display: inline-block;
  padding: 0px 20px 0px;
  flex: 2;
  width: 320px;
}

div.formbutton {
  padding: 8px;
}

div#processed_photo {
  padding: 5px;
  text-align: center;
}
